.home {
    &-section {
        background: linear-gradient(to top right,
                rgba($color-black, .6),
                rgba($color-black-light, .7));
        min-height: 100vh;
        height: 100vh;
        width: 100%;
        padding: 0;
        position: relative;

        .container {
            height: 100%;
        }

        #slideshow {
            position: absolute;
            height: 100vh;
            width: 100%;
            z-index: -1;
        }

        #wrapper_home-video {
            z-index: -1 !important;
        }

        &.index {
            background: linear-gradient(to top right,
                    rgba($color-black, .6),
                    rgba($color-black-light, .7)),
                url(../img/hero/hero-bg-1.jpg) no-repeat center;
            background-size: cover;
            background-attachment: fixed;
        }
    }

    &-contact {
        padding-top: 2.3rem;

        li {
            display: inline-block;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: flex-start !important;
        }

        &.classic {
            height: 100%;
            align-items: flex-end !important;
            justify-content: space-between !important;

            .btn-animated {
                transform: rotate(90deg);
                margin: 0 -1.7rem 3.5rem 0;
            }

            .home-socials {
                li {
                    display: block;
                }
            }

            @media (max-width: 576px) {
                display: none !important;
            }
        }
    }

    &-btn {
        position: fixed;
        bottom: 10vh;
        right: -100%;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        line-height: 5rem;
        text-align: center;
        transition: right .5s ease,
            color .3s ease-in-out;
        z-index: 9;

        &::before {
            @include absContent;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background: $color-black-light;
            box-shadow: $box-shadow-all;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -9;
        }

        &.floating {
            right: .5rem;
        }
    }

    &-socials {
        margin-right: 2rem;

        @media (max-width: 991px) {
            margin-left: 2rem;
        }

        @media (max-width: 500px) {
            margin: 0;
        }
    }

    &-intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        text-align: center;
    }

    &-title {
        //   font-size: 5rem;
        font-size: calc(2rem + 3.55vw);
        font-weight: 800;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }

    &-status {
        text-transform: capitalize;
        //   font-size: 2.4rem;
        font-size: calc(1.2rem + 1.45vw);
        line-height: 1.2;
        margin-top: 1rem;
    }
}