.comment {
    margin-top: 5rem;

    @media (max-width: 991px) {
        margin-bottom: 4rem;
    }

    &-title {
        text-align: center;
        margin-bottom: 3rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid #aaa;
    }

    &-btn {
        float: right;
    }

    &-list {
        list-style: none;
        margin-top: 3rem;
    }

    &-item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 2rem;
            padding-bottom: 1rem;

            &::before {
                @include border-bottom;
            }
        }

        &:nth-child(odd) {
            margin-left: 4rem;
        }

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 1.5rem;
        }

        @media (max-width: 450px) {
            display: block !important;
            padding-bottom: 2rem !important;

            img {
                margin-bottom: 1rem;
            }
        }

    }

    &-header {
        margin-bottom: 1rem;
    }

    &-intro {
        span {
            display: block;

            &:last-child {
                font-size: .8rem;
                margin-top: .3rem;
            }
        }
    }

    &-reply {

        @media (max-width: 450px) {
            position: absolute;
            bottom: 1rem;
            left: 0;
        }
    }
}