.scrolling-indicator {
    height: .7rem;
    position: fixed;
    top: 0;
    left: $sidebar-width;
    z-index: 999;
    border-radius: 3rem;

    @media (max-width: 991px) {
        left: 0;
    }

    &.classic {
        left: 0;
    }
}